    <!---------------- HEAD ------------->
    <%- include ('./partials/head.ejs') %>
    <!----------------------------------->
    
<body>
    <!---------------- HEADER ------------->
    <%- include ('./partials/header.ejs') %>
    <!----------------------------------->

    <!--=============================== main =======================================================-->
    <div class="jumbotron">
            <div class="text-center">
            <h1 id="deleteName" class="display-4"><%=Amiibo.name%></h1>
            <img class="roll-in-blurred-left" src="<%=Amiibo.img;%>" class="justify-center" alt="<%=Amiibo.name; %>">
            <hr class="my-4">
            <p>Edit this Amiibo with the form Below</p>
        </div>
            <p class="lead">
                <div class="container">
                    <div class="container-fluid">
                        <div class="row" style="margin-top: 10px;">  
                            <div class="col-xs-6 mx-auto, col-sm-8 mx-auto, col-md-8 mx-auto">
    <!--=============================== Form =======================================================-->
    <form id="form" name="form" action="/<%=Amiibo.id;%>?_method=PUT" method="POST" >
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" name="name" placeholder="* <%=Amiibo.name%>" required>
        <br/>
        <label for="image(url)">Image(url)</label>
        <input type="text" id="image(url)" class="form-control" name="img" placeholder="* <%=Amiibo.img%>" required/>
        <br/>
        <label for="series">Series</label>
        <input type="text" id="series" class="form-control" name="series" placeholder="* <%=Amiibo.series%>" required/>
        <br/>
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" name="description"placeholder="* <%=Amiibo.description%>" required></textarea>
        <br/>
        <label for="condition">Condition</label>
        <input type="text" id="condition" class="form-control" name="condition" placeholder="* <%=Amiibo.condition%>" required/>
        <br/>
        <label for="price">Price</label>
        <input type="text" id="price" class="form-control" name="price" placeholder="* <%=Amiibo.price%>" required />
        <br/>
        <label for="purchasedFrom">Purchased from</label>
        <input type="text" id="purchasedFrom" class="form-control" name="purchasedFrom" placeholder="<%=Amiibo.purchasedFrom%>" required/>
        <br/>
        <label for="compatibleGames">Compatible Games</label>
        <textarea class="form-control" id="compatibleGames" rows="4" name="compatibleGames" placeholder="<%=Amiibo.compatibleGames%>"></textarea>
        <br/>
        <label for="gameFunction">Game Function</label>
        <textarea class="form-control" id="gameFunction" rows="4" name="gameFunction" placeholder=" <%=Amiibo.gameFunction%>"></textarea>
        <br/>
        * Required Fields
        <br>
        <form action="/<%=Amiibo.id;%>?_method=PUT" method="POST" ></form>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg btn-bloc" style="width:100%" data-toggle="modal" data-target="#confirmEdit">
                Submit
                </button>  
    </form>
    <!--=============================== Modal =======================================================-->
    <div class="modal fade" id="confirmEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure you want to edit:</h4>
                </div>
            <div class="text-center">
                <div class="container">
                    <h1 class ="showName"><%=Amiibo.name%></h1>
                    <img src="<%=Amiibo.img;%>" alt="<%=Amiibo.name; %>">
                </div>   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <button href="javascript:" onClick="document.getElementById('form').submit()"
                class="btn btn-primary" >Submit</button>
    
            </div>
            </div>
        </div>
    </div>

        <br>
<!--======================================================================================-->
                            </div>   
                        </div>       
                    </div>
                </div>                
            </p>
        </div>

 


    <!---------------- Footer ------------->
    <%- include ('./partials/footer.ejs') %>
    <!------------------------------------->
</body>
</html>