<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index/Main Page</h1>
    <ul>
        <%for(let i =0; i < Amiibo.length; i++){%>
                <h1><a href="/<%=Amiibo[i]._id;%>"><%=Amiibo[i].name; %></a></h1>
                <h2><%=Amiibo[i].id%></h2>
                <img src="<%=Amiibo[i].img;%>" alt="<%=Amiibo[i].name; %>">
                <br><button onclick="window.location.href= '/<%=Amiibo[i]._id%>/edit'" type=" button" name="button">Edit <%=Amiibo[i].name; %></button>

                <br>
        <%}%>
    </ul>
    <button onclick="window.location.href= '/edit' " type=" button" name="button">Edit Page</button>
    <button onclick="window.location.href= '/new' " type=" button" name="button">New Page</button>
    <button onclick="window.location.href= '/show' " type=" button" name="button">Show Page</button>



</body>
</html>