    <!---------------- HEAD ------------->
    <%- include ('./partials/head.ejs') %>
    <!----------------------------------->

<a name="top"></a>

<body>

    <!----------------HEADER W/ SEARCH ------------->
    <%- include ('./partials/headerIndex.ejs') %>
    <!----------------------------------------------->
    
<!-- =================================NAV BAR================================= -->
    <!-- <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://assets.nintendo.com/image/upload/f_auto,q_auto/Dev/aem-component-demo/logo-amiibo-glow?v=2022042017" class="justify-center" alt="Amiibo" srcset=""></a>
        <button onclick="window.location.href= '/' " type="button" class="btn btn-primary btn-lg btn-block">Home</button>
        <button onclick="window.location.href= '/new' " type="button" class="btn btn-warning btn-lg btn-block">Add amiibo</button>
        <button onclick="window.location.href= '/news' " type="button" class="btn btn-success btn-lg btn-block">Nintendo News</button>
        <a href="/route/logout">Logout</a>
    </nav> -->



<div class="row" style="margin-top: 20px;">
    <div class="col-md-10">
        <% if(noMatch !== undefined) { %>
            <h3><%= noMatch %></h3>
            <% } %>
    </div>
</div>



<!-- ========================================================================= -->
<div style="max-width: 2000px; margin: 0auto; padding:10px;">
        <div class="container-fluid mx-auto">
            <div class="row" style="margin-top: 20px;">
                    <%for(let i =0; i < amiibo.length; i++){%>
                    <!-- break points:   -575           576-768              768+   -->
                        <div class="col-10 mx-auto, col-sm-6 mx-auto, col-md-4 mx-auto">
                            <h1 id="nameIndex" class="text-center"><%=amiibo[i].name; %></h1>
                            <img src="<%=amiibo[i].img;%>" class="img-fluid" id="thumbnail" alt="<%=amiibo[i].name; %>">
                            <br>
                        <div style="max-width: 1200px; margin: 0auto; padding:10px;">
                        <div class="container-fluid">

                            <div class="row" style="margin-top: 10px;">
                        <!-- break points:   -575           576-768              768+   -->
                                <div class="col-8 mx-auto, col-sm-5 mx-auto, col-md-4 mx-auto">
                                    <button onclick="window.location.href= '/<%=amiibo[i].id%>'"  type=" button" class="btn btn-success btn-sm btn-block" style="width:100%">View</button>
                                </div>
                        <!-- break points:   -575           576-768              768+   -->
                                <div class="col-8 mx-auto, col-sm-5 mx-auto, col-md-4 mx-auto">
                                    <button onclick="window.location.href= '/<%=amiibo[i].id%>/edit'"  type=" button" class="btn btn-primary btn-sm btn-block" style="width:100%">Edit</button>
                                </div>
                        <!-- break points:   -575           576-768              768+   -->
                                <div class="col-8 mx-auto, col-sm-5 mx-auto, col-md-4 mx-auto">
                                    <button onclick="window.location.href= '/delete/<%=amiibo[i].id%>'"  type=" button" class="btn btn-danger btn-sm  btn-block" style="width:100%">Delete</button>
                                </div>    
                            </div> 
                            
                        </div>    
                        </div>

                            <br>
                            </button>
                            <br>
                        </div>
                    <%}%>
            </div>
        </div>
    </div>

    <span style="position: fixed; bottom: 0pt; right: 0pt;">
        <a href="#top">Top of Page<i class="fa-solid fa-square-up"></i></a>
        
    </span>
    
    <!---------------- Footer ------------->
    <%- include ('./partials/footer.ejs') %>
    <!------------------------------------->

</body>
</html>