    <!---------------- HEAD ------------->
    <%- include ('./partials/head.ejs') %>
    <!----------------------------------->

<a name="top"></a>

<body>

    <!----------------HEADER W/ SEARCH ------------->
    <%- include ('./partials/headerIndex.ejs') %>
    <!----------------------------------------------->
    
<!-- =============================Search Error================================= -->

    <div class="header">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8 mx-auto, col-sm-6 mx-auto, col-md-6 mx-auto">
                <% if(noMatch !== undefined) { %>
                    <h3><%= noMatch %></h3>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- ========================================================================= -->
<div style="max-width: 2000px; margin: 0auto; padding:10px;">
        <div class="container-fluid mx-auto">
            <div class="row" style="margin-top: 20px;">
                    <%for(let i =0; i < amiibo.length; i++){%>
                    <!-- break points:   -575           576-768              768+   -->
                        <div class="col-8 mx-auto, col-sm-6 mx-auto, col-md-4 mx-auto">
                            <h1 id="nameIndex" class="text-center"><%=amiibo[i].name %></h1>
                            <img src="<%=amiibo[i].img;%>" class="img-fluid" id="thumbnail" alt="<%=amiibo[i].name; %>">
                            <br>
                        <div style="max-width: 1200px; margin: 0auto; padding:10px;">
                        <div class="container-fluid">

                            <div class="row" style="margin-top: 10px;">
                        <!-- break points:   -575           576-768              768+   -->
                                <div class="col-8 mx-auto, col-sm-5 mx-auto, col-md-4 mx-auto">
                                    <button onclick="window.location.href= '/<%=amiibo[i].id%>'"  type=" button" class="btn btn-success btn-sm btn-block" style="width:100%">View</button>
                                </div>
                        <!-- break points:   -575           576-768              768+   -->
                                <div class="col-8 mx-auto, col-sm-5 mx-auto, col-md-4 mx-auto">
                                    <button onclick="window.location.href= '/<%=amiibo[i].id%>/edit'"  type=" button" class="btn btn-primary btn-sm btn-block" style="width:100%">Edit</button>
                                </div>
                        <!-- break points:   -575           576-768              768+   -->
                                <div class="col-8 mx-auto, col-sm-5 mx-auto, col-md-4 mx-auto">
                                    <button onclick="window.location.href= '/delete/<%=amiibo[i].id%>'"  type=" button" class="btn btn-danger btn-sm  btn-block" style="width:100%">Delete</button>
                                </div>    
                            </div> 
                            
                        </div>    
                        </div>

                            <br>
                            </button>
                            <br>
                        </div>
                    <%}%>
            </div>
        </div>
    </div>

    <span style="position: fixed; bottom: 5pt; right: 5pt;">
        <a href="#top" id="toTop" class="bi bi-arrow-up-square-fill"></a>
    </span>
    <!---------------- Footer ------------->
    <%- include ('./partials/footer.ejs') %>
    <!------------------------------------->

</body>
</html>