    <!---------------- HEAD ------------->
    <%- include ('./partials/head.ejs') %>
    <!----------------------------------->
    
<body>

    <!---------------- HEADER ------------->
    <%- include ('./partials/header.ejs') %>
    <!----------------------------------->

    <div class="container">
        <div class="container-fluid">
            <div class="row" style="margin-top: 20px;">
                <div class="col-12 mx-auto, col-sm-12 mx-auto, col-md-6 mx-auto">
                    <h1 class ="showName"><%=amiibo.name%></h1>
                    <img class="slide-in-fwd-center" src="<%=amiibo.img;%>" alt="<%=amiibo.name; %>">
                </div>
                        <div class="col-12 mx-auto, col-sm-12 mx-auto, col-md-6 mx-auto">
                            <ul id="showInfo">
                                <h4 class="text-warning"><%=amiibo.series; %></h4>
                                <br>
                                <h4 class="text-danger">Description: </h4>
                                <li id="showLi"><%=amiibo.description; %></li>
                                <br>
                                <h4 class="text-danger">Condition: </h4>
                                <li id="showLi"><%=amiibo.condition; %></li>
                                <br>
                                <h4 class="text-danger">Price: </h4>
                                <li id="showLi"><%=amiibo.price; %></li>
                                <br>
                                <h4 class="text-danger">Purchased From: </h4>
                                <li id="showLi"><%=amiibo.purchasedFrom; %></li>
                                <br>
                                <h4 class="text-danger">Compatible Games: </h4>
                                <%for(let i =0; i < amiibo.compatibleGames.length; i++){%> 
                                <li id="showLi"><%=amiibo.compatibleGames[i]; %></li>
                                <%}%>
                                <br>
                                <h4 class="text-danger">Game Functions: </h4>
                                <%for(let i =0; i < amiibo.gameFunction.length; i++){%>
                                <li id="showLi"><%=amiibo.gameFunction[i]; %></li>
                                <%}%>
                            </ul>
                        </div>
            </div>
        </div>
    </div> 
    <br>    





    <!---------------- Footer ------------->
    <%- include ('./partials/footer.ejs') %>
    <!------------------------------------->

</body>
</html>